<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <!-- React -->
  <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <!-- React DOM -->
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script src="/static/js/api-ai-javascript/target/ApiAi.streamless.js"></script>
  <script src="/static/js/main.js"></script>
</head>
<body>
  <div id="result"></div>
  <div id="user_input"></div>
  <div id="system_message"></div>
</body>
</html>
